body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

a {
  text-decoration: underline;
}

figure {
  margin-bottom: 10px;
}

.section {
  position: static;
  display: block;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px none #000;
}

.body {
  display: block;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
}

.section-landing {
  position: static;
  margin: 0px 20px;
  padding-bottom: 100px;
}

.container {
  display: block;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-link {
  margin-bottom: 20px;
  font-family: 'DM Serif Display', sans-serif;
  color: #333;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-align: justify;
  text-decoration: none;
  white-space: normal;
}

.heading-link:hover {
  text-decoration: underline;
}

.heading-link.link-body {
  text-decoration: none;
}

.paragraph-2 {
  padding-right: 20px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.column-2 {
  padding-right: 20px;
  padding-left: 20px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 0px;
  background-image: url('../images/bootcamp-heading.jpg');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  margin-bottom: 140px;
  padding: 0px;
  border-bottom: 2px solid #000;
  background-color: #fff;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 60px 60px -webkit-max-content 60px;
  -ms-grid-columns: 1fr 60px 60px max-content 60px;
  grid-template-columns: 1fr 60px 60px -webkit-max-content 60px;
  grid-template-columns: 1fr 60px 60px max-content 60px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px 0px 20px 47px;
  font-family: 'DM Serif Display', sans-serif;
  color: #444;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.link-half-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/atlas-of-weak-signals.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: repeat;
  text-decoration: none;
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/bio-agri-zero.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.subtitle {
  border-bottom: 1px none #000;
  border-radius: 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: none;
  text-shadow: 1px 0 8px #3d3b3b;
  white-space: normal;
}

.div-block-2 {
  text-decoration: none;
}

.heading-centered {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.subtitle-blog {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-align: left;
}

.columns-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blogbox {
  position: relative;
  display: block;
  max-width: 1000px;
  margin-top: 20px;
  padding-bottom: 0px;
}

.full-width-box {
  max-width: 100%;
  margin-bottom: 100px;
}

.container-4 {
  max-width: 1200px;
}

.menu-link {
  background-color: transparent;
  color: #272626;
  text-decoration: none;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 930px;
  max-width: 100%;
  padding-right: 140px;
  padding-left: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/stones_vision-03.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -o-object-fit: contain;
  object-fit: contain;
}

.title-1 {
  margin-bottom: 20px;
  font-family: 'Universltstd cn', sans-serif;
  text-align: center;
}

.detail-pic {
  margin-top: 5px;
  padding-top: 0px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: 300;
  text-align: center;
}

.title-2 {
  margin-top: 20px;
  font-family: 'Universltstd cn', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  padding-left: 0px;
  font-family: 'Universltstd cn', sans-serif;
  font-size: 15px;
}

.image-2 {
  margin-bottom: 40px;
}

.image-3 {
  margin-bottom: 75px;
}

.column-5 {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-buttons {
  margin-top: 60px;
  margin-bottom: 60px;
}

.div-block-4 {
  margin-top: 0px;
  text-align: left;
}

.div-block-5 {
  padding-top: 30px;
}

.link-2 {
  color: #000;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}

.columns-6 {
  margin-top: 20px;
  text-align: center;
}

.column-10 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.div-block-12 {
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.date {
  font-family: 'Universltstd cn', sans-serif;
  color: #615f5f;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.div-block-13 {
  margin-top: 10px;
}

.image-6 {
  margin-right: 2px;
}

.html-embed {
  text-align: center;
}

.div-block-14 {
  text-align: center;
}

.subtitle-3 {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.notes {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.div-block-15 {
  display: block;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-7 {
  margin-right: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.link-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-image: url('../images/tumblr_81ebaf3d7c3c78fa439d4e1219a40727_98b42e6a_1280.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-decoration: none;
}

.image-8 {
  display: block;
  max-height: 30%;
  max-width: 30%;
  margin-right: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.image-9 {
  max-height: 30%;
  max-width: 30%;
}

.image-10 {
  max-height: 30%;
  max-width: 30%;
  margin-right: 10px;
}

.image-15 {
  text-align: left;
}

.image-16 {
  margin-right: 10px;
}

.image-17 {
  margin-right: 10px;
}

.image-18 {
  margin-right: 10px;
}

.image-19 {
  margin-right: 10px;
}

.image-20 {
  margin-right: 10px;
}

.div-block-18 {
  margin-bottom: 10px;
  text-align: left;
}

.div-home-subtitle {
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.link-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/living_with_your_own_ideas_1.jpg');
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
}

.column-12 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.subtitle-4 {
  margin-bottom: 20px;
  font-size: 25px;
}

.video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.columns-7 {
  margin: 20px 0px;
}

.div-block-19 {
  margin-top: 10px;
}

.div-block-21 {
  text-align: left;
}

.div-block-22 {
  text-align: left;
}

.link-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/mac-boock-dismanteled.gif');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-decoration: none;
}

.link-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/da03ab655811df5366c944b160a2fb64.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  text-decoration: none;
}

.button {
  padding-right: 30px;
  padding-left: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #201d1d;
  border-radius: 19px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #353131;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.footer-navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title-link {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 20px 10px;
  border: 2px none #000;
  border-radius: 20px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
}

.title-link-out {
  border-style: none;
  border-width: 1px;
  border-color: #d14747;
  color: #000;
  font-size: 25px;
  text-decoration: none;
}

.div-block-26 {
  margin-bottom: 10px;
}

.div-block-27 {
  margin-top: 10px;
}

.image-22 {
  margin-top: 20px;
}

.paragraph-3 {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.column-15 {
  padding-right: 10px;
}

.column-16 {
  padding-left: 0px;
}

.column-17 {
  padding-top: 0px;
}

.image-23 {
  margin-top: 20px;
}

.video-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-heading {
  margin-bottom: 100px;
}

.div-block-29 {
  margin-top: 20px;
}

.div-block-30 {
  margin-top: 20px;
}

.link-4 {
  color: #333;
  font-size: 25px;
  text-decoration: none;
}

.image-24 {
  margin-top: 10px;
}

.link-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/mapping--food-angriculture.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.columns-11 {
  text-align: center;
}

.link-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/phone_data_ai_classification.jpg');
  background-position: 50% 50%;
  background-size: contain;
  text-decoration: none;
}

.div-block-33 {
  margin-top: 20px;
}

.div-block-34 {
  margin-top: 20px;
}

.div-block-35 {
  margin-top: 20px;
}

.image-30 {
  margin-top: 20px;
}

.link-6 {
  color: #000;
  text-decoration: none;
}

.italic-text {
  text-decoration: none;
}

.link-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/ripe-oranges.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.link-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/web-pic.jpg');
  background-position: 40% 50%;
  background-size: cover;
  text-decoration: none;
}

.subtitle {
  position: relative;
  z-index: 1;
  overflow: visible;
}

.link-7 {
  text-decoration: none;
}

.columns-12 {
  margin-bottom: 20px;
}

.link-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/DESIGN_DIALOGUES.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.link-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/anti-sleep-paralysis.png');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-32 {
  margin-bottom: 20px;
}

.image-33 {
  max-width: 90%;
}

.link-body {
  background-color: transparent;
  color: #000;
  font-weight: 300;
  text-decoration: underline;
}

.link-body:hover {
  padding-right: 5px;
  padding-left: 5px;
  background-color: #000;
  color: #fff;
  font-weight: 300;
  text-decoration: underline;
  text-transform: none;
  white-space: normal;
}

.link-block-f-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 0px;
  background-image: url('../images/week_1.png');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.link-block-f-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/circles2.png');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.link-block-f-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-decoration: none;
}

.div-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 2px none #000;
  border-bottom: 4px solid #000;
  border-radius: 0px;
  text-decoration: none;
}

.hello {
  margin-bottom: 20px;
  font-family: 'DM Serif Display', sans-serif;
  color: #333;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-decoration: none;
}

.hello:hover {
  text-decoration: none;
}

.flecha {
  margin-bottom: 20px;
  font-family: 'DM Serif Display', sans-serif;
  color: #333;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-decoration: none;
}

.flecha:hover {
  text-decoration: none;
}

.link-block-2-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-decoration: none;
}

.fab-heading {
  margin-bottom: 20px;
  font-family: 'DM Serif Display', sans-serif;
  color: #333;
  font-size: 35px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: normal;
}

.fab-heading:hover {
  text-decoration: underline;
}

.image-34 {
  text-align: right;
}

.div-block-39 {
  text-align: center;
}

.div-block-40 {
  text-align: center;
}

.div-block-41 {
  padding-right: 10px;
}

.div-block-42 {
  padding-right: 10px;
}

.columns-inside {
  margin-bottom: 10px;
}

.columns-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.column-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contentdivhorizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -o-object-fit: fill;
  object-fit: fill;
}

.button-2 {
  background-color: #ff8b8b;
  color: #000;
}

.contentcard-1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #ffb5b5;
  color: #fff;
  text-decoration: none;
}

.contentcardimagewrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.imageok {
  position: static;
  width: 100%;
  height: 100%;
  max-width: none;
  background-color: transparent;
  color: transparent;
  text-decoration: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.contentcardimagewrapper-copy {
  width: 100%;
  height: 60%;
}

.contentcardtextwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c5c5c5;
}

.contentwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.div-image {
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

.imagecustome {
  width: 357px;
  height: 50%;
  max-width: none;
}

.link-title {
  text-decoration: none;
}

.contentcard-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  margin: 10px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #ffb5b5;
  color: #fff;
  text-decoration: none;
}

.contentcard-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  margin: 10px 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #ffb5b5;
  color: #fff;
  text-decoration: none;
}

.column-landing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-44 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column-23 {
  padding-top: 0px;
}

.link-block-f-1-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/circles2.png');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.link-block-f-1-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/circles3.png');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.link-block-f-1-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/circles4.png');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.link-block-f-1-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/circles5.png');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
}

.link-8 {
  color: #141313;
  font-size: 30px;
  text-decoration: none;
}

.quote {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .section {
    margin-bottom: 0px;
    padding-bottom: 100px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .paragraph {
    margin-bottom: 20px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 18px;
    line-height: 26px;
  }

  .paragraph-2 {
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 22px;
    line-height: 30px;
  }

  .column-2 {
    padding-right: 20px;
  }

  .sticky-nav {
    display: block;
    height: 70px;
    max-height: none;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .nav-grid {
    display: -ms-grid;
    display: grid;
    height: 100%;
    max-width: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: ". . . Area-2 Area";
    -ms-grid-columns: 1fr 20px 60px 20px 60px;
    grid-template-columns: 1fr 60px 60px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .nav-link {
    padding-top: 20px;
    padding-left: 50px;
    font-family: 'DM Serif Display', sans-serif;
    color: #333;
    font-size: 25px;
  }

  .nav-link.w--current {
    color: #000;
  }

  .link-block-3 {
    background-position: 50% 50%;
  }

  .heading-centered {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
  }

  .subtitle-blog {
    text-align: left;
  }

  .columns-3 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .blogbox {
    overflow: visible;
    max-width: 1150px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .full-width-box {
    max-width: 100%;
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-4 {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    max-width: 1500px;
    padding-left: 100px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .menu-link {
    font-family: Roboto, sans-serif;
    color: #272727;
    font-size: 15px;
    text-decoration: none;
  }

  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 1200px;
    max-height: none;
    margin-top: 140px;
    margin-bottom: 140px;
    padding-right: 140px;
    padding-bottom: 0px;
    padding-left: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/stones_vision-03.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .title-1 {
    font-family: 'Universltstd cn', sans-serif;
    font-size: 50px;
    text-align: center;
  }

  .detail-pic {
    padding-right: 20px;
    padding-left: 0px;
  }

  .title-2 {
    font-family: 'Universltstd cn', sans-serif;
    font-size: 38px;
  }

  .column-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block {
    margin-right: 88px;
    font-family: 'Universltstd cn', sans-serif;
    font-size: 20px;
  }

  .column-4 {
    padding-top: 14px;
    padding-left: 0px;
  }

  .image-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .columns-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .column-5 {
    text-align: left;
  }

  .section-buttons {
    margin-bottom: -19px;
  }

  .div-block-4 {
    margin-top: 0px;
    text-align: left;
  }

  .columns-5 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .column-6 {
    padding-left: 20px;
  }

  .column-7 {
    padding-left: 20px;
  }

  .column-8 {
    padding-left: 20px;
  }

  .image-4 {
    text-align: left;
  }

  .columns-6 {
    margin-bottom: 0px;
  }

  .column-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .div-block-7 {
    margin-top: 10px;
  }

  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .image-5 {
    margin-bottom: 140px;
  }

  .div-block-12 {
    margin-bottom: 0px;
  }

  .column-12 {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .image-21 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .footer-navigator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    text-align: left;
  }

  .div-block-25 {
    text-align: left;
  }

  .title-link {
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0px;
    font-size: 25px;
  }

  .div-block-26 {
    margin-bottom: 0px;
  }

  .div-block-27 {
    margin-top: 10px;
  }

  .image-22 {
    margin-top: 20px;
  }

  .paragraph-3 {
    text-align: center;
  }

  .column-15 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .div-block-28 {
    padding-bottom: 0px;
  }

  .image-23 {
    display: block;
    width: 100%;
  }

  .link-body {
    font-weight: 400;
    text-decoration: none;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .link-block-f-3 {
    background-position: 50% 50%;
  }

  .hello {
    color: #333;
  }

  .div-block-41 {
    padding-right: 10px;
  }

  .columns-inside {
    margin-bottom: 0px;
  }

  .contentcard-1 {
    height: 400px;
  }

  .div-image {
    position: relative;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .imagecustome {
    width: 410px;
  }

  .contentcard-3 {
    height: 300px;
  }

  .column-22 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 991px) {
  .section {
    margin-right: 20px;
    margin-left: 20px;
  }

  .paragraph {
    font-size: 16px;
  }

  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
  }

  .heading-link {
    font-family: 'DM Serif Display', sans-serif;
  }

  .heading-link.link-body {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
  }

  .column-2 {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .columns-3 {
    margin-left: 149px;
  }

  .blogbox {
    overflow: hidden;
    max-width: 700px;
  }

  .div-block-3 {
    height: 700px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .text-block {
    padding-right: 36px;
  }

  .body-2 {
    overflow: visible;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .column-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .section-buttons {
    padding-left: 11px;
  }

  .columns-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .div-block-6 {
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .column-18 {
    display: block;
  }

  .link-body {
    font-size: 16px;
  }

  .div-home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .hello:hover {
    text-decoration: none;
  }

  .flecha {
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
    font-size: 40px;
    cursor: pointer;
  }

  .flecha:hover {
    text-decoration: none;
  }

  .fab-heading {
    font-family: 'DM Serif Display', sans-serif;
  }

  .columns-16 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .section-landing {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-2 {
    padding-right: 40px;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    -ms-grid-columns: 1fr 60px 60px;
    grid-template-columns: 1fr 60px 60px;
    text-align: center;
  }

  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
  }

  .subtitle-blog {
    font-size: 22px;
    line-height: 30px;
  }

  .blogbox {
    padding-right: 10px;
    padding-left: 10px;
  }

  .div-block-3 {
    background-size: cover;
  }

  .section-buttons {
    padding-left: 0px;
  }

  .column-9 {
    margin-top: 20px;
    padding-top: 0px;
  }

  .column-10 {
    display: block;
    padding-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block-10 {
    text-align: center;
  }

  .div-block-11 {
    text-align: center;
  }

  .columns-16 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .column-21 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    margin-bottom: 0px;
    padding-bottom: 100px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  .columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .paragraph-2 {
    font-size: 14px;
    line-height: 20px;
  }

  .column-2 {
    display: block;
  }

  .link-block {
    height: 300px;
  }

  .sticky-nav {
    margin-bottom: 68px;
    padding: 0px;
  }

  .nav-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-flow: row;
    grid-auto-columns: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
    list-style-type: none;
  }

  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid #c4c4c4;
  }

  .link-half-block {
    margin-top: 20px;
  }

  .link-block-3 {
    height: 300px;
    margin-top: 20px;
  }

  .heading-centered {
    margin-top: 5px;
    font-size: 30px;
  }

  .subtitle-blog {
    font-size: 22px;
    line-height: 30px;
  }

  .blogbox {
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .div-block-3 {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover;
  }

  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .text-block {
    padding-right: 15px;
  }

  .column-4 {
    margin-top: 23px;
  }

  .list-item-5 {
    padding-bottom: 31px;
  }

  .image-2 {
    margin-bottom: 20px;
  }

  .section-buttons {
    margin-top: 40px;
  }

  .column-7 {
    padding-bottom: 10px;
  }

  .column-9 {
    margin-top: 47px;
  }

  .div-block-7 {
    padding-bottom: 10px;
  }

  .div-block-8 {
    margin-bottom: 10px;
  }

  .div-block-9 {
    margin-bottom: 10px;
  }

  .column-11 {
    margin-bottom: 10px;
  }

  .link-block-4 {
    height: 200px;
  }

  .link-block-5 {
    height: 300px;
  }

  .image-21 {
    margin-bottom: 10px;
  }

  .link-block-6 {
    height: 300px;
  }

  .link-block-7 {
    height: 200px;
  }

  .button {
    font-size: 12px;
  }

  .section-heading {
    margin-bottom: 20px;
  }

  .link-block-8 {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .columns-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-25 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .image-26 {
    margin-bottom: 10px;
  }

  .image-27 {
    margin-bottom: 10px;
  }

  .image-28 {
    margin-bottom: 10px;
  }

  .image-29 {
    margin-bottom: 10px;
  }

  .image-33 {
    padding-top: 20px;
  }

  .link-body {
    font-size: 14px;
  }

  .link-block-f-1 {
    height: 300px;
  }

  .link-block-f-2 {
    margin-top: 20px;
  }

  .link-block-f-3 {
    height: 300px;
    margin-top: 20px;
  }

  .column-20 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .columns-16 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .contentdivhorizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .imagecustome {
    width: 275px;
    padding-top: 10px;
  }

  .link-block-f-1-2 {
    margin-top: 20px;
  }

  .link-block-f-1-3 {
    margin-top: 20px;
  }

  .link-block-f-1-4 {
    margin-top: 20px;
  }

  .link-block-f-1-5 {
    margin-top: 20px;
  }
}

#w-node-bb78c323-2310-46d6-5629-17d14557b036-4557b033 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (min-width: 1440px) {
  #w-node-bb78c323-2310-46d6-5629-17d14557b036-4557b033 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-bb78c323-2310-46d6-5629-17d14557b039-4557b033 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-bb78c323-2310-46d6-5629-17d14557b03c-4557b033 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-bb78c323-2310-46d6-5629-17d14557b039-4557b033 {
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-bb78c323-2310-46d6-5629-17d14557b03c-4557b033 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-bb78c323-2310-46d6-5629-17d14557b036-4557b033 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@font-face {
  font-family: 'Universltstd';
  src: url('../fonts/UniversLTStd-BlackExObl.otf') format('opentype'), url('../fonts/UniversLTStd-BlackObl.otf') format('opentype'), url('../fonts/UniversLTStd-Black.otf') format('opentype'), url('../fonts/UniversLTStd-XBlack.otf') format('opentype'), url('../fonts/UniversLTStd-XBlackEx.otf') format('opentype'), url('../fonts/UniversLTStd-BlackEx.otf') format('opentype'), url('../fonts/UniversLTStd-XBlackExObl.otf') format('opentype'), url('../fonts/UniversLTStd-XBlackObl.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd';
  src: url('../fonts/UniversLTStd-BoldCn.otf') format('opentype'), url('../fonts/UniversLTStd-Bold.otf') format('opentype'), url('../fonts/UniversLTStd-BoldCnObl.otf') format('opentype'), url('../fonts/UniversLTStd-BoldEx.otf') format('opentype'), url('../fonts/UniversLTStd-BoldExObl.otf') format('opentype'), url('../fonts/UniversLTStd-BoldObl.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd';
  src: url('../fonts/UniversLTStd-LightObl.otf') format('opentype'), url('../fonts/UniversLTStd-LightCn.otf') format('opentype'), url('../fonts/UniversLTStd-Light.otf') format('opentype'), url('../fonts/UniversLTStd-LightCnObl.otf') format('opentype'), url('../fonts/UniversLTStd-LightUltraCn.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd';
  src: url('../fonts/UniversLTStd-ThinUltraCn.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd cn';
  src: url('../fonts/UniversLTStd-Cn.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd obl';
  src: url('../fonts/UniversLTStd-Obl.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd ultracn';
  src: url('../fonts/UniversLTStd-UltraCn.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd ex';
  src: url('../fonts/UniversLTStd-Ex.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd cnobl';
  src: url('../fonts/UniversLTStd-CnObl.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd exobl';
  src: url('../fonts/UniversLTStd-ExObl.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universltstd';
  src: url('../fonts/UniversLTStd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}